@{
    ViewBag.Title = "About";
    ViewBag.Head = "About";
}

<div id="about1">
    <h3>About Me</h3>
    <p class="about">
        I enjoy learning all sorts of things, from tidbits of trivia to complex abstract concepts. I find that if a person knows more then they can be more useful to the world around them. Even more important the what you know is how you learn. Someone that knows 100 things but takes six months to learn a new one is far less useful than a person who knows 50 things but can learn new ones in a couple of days. I pride myself on my ability to pick up new knowledge quickly, from building computers to lighting fires to writing software.
    </p>
    <p class="about">
        My interest in coding goes back quite far, infact I was born in Ireland because my father was there for work helping to set up the Dublin branch of Sun Microsystems. I have been exposed to the general concepts of coding from him for my entire life. In high school I dabbled in Java by taking a class but I didn’t get very invested in it because of the lack of immediate usefulness of the projects that we were doing in class. While the actual projects that I had worked on in that class didn’t appeal to me the mindset used for coding stuck. When I noticed in my math classes that a lot of what we were doing could be easily written into a program I decided to have a go at it. I taught myself a programing language known as TI-Basic, the language used on Texas Instruments calculators, and set to work. By the end of high school I had written of 50 programs for my calculator for various math and science applications. I really enjoyed the immediate usefulness of writing programs that way. When I heard of SeedPaths and how they focus on hands on training for real world applications I was sold. I wanted to get the knowledge I would need to create things that would have immediate use to other people.
    </p>
</div>
