@{
    ViewBag.Title = "About";
    ViewBag.Head = "About";
}

<div id="about1">
    <h3>About Me</h3>
    <p class="about">
        My interest in coding started at a very young age. I was born in Ireland because my father was there for work helping to set up a european branch of Sun Microsystems. ...
    </p>
</div>
