body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    text-shadow: 3px 3px 3px gray;
    background: repeating-linear-gradient(135deg, rgba(255, 0, 0, 0.2),rgba(255, 165, 0, 0.2),rgba(255, 255, 0, 0.2),rgba(0, 128, 0, 0.2),rgba(0, 0, 255, 0.2),rgba(75, 0, 130, 0.2),rgba(238, 130, 238, 0.2));
    /*,rgba(75, 0, 130, 0.2),rgba(0, 0, 255, 0.2),rgba(0, 128, 0, 0.2),rgba(255, 255, 0, 0.2),rgba(255, 165, 0, 0.2),rgba(255, 0, 0, 0.2)*/
}

html{
    min-height: 100%;
    min-width: 100%;
}

header, footer, nav, section {
    display: block;
}

nav a:hover{
    /*border:solid rgba(0, 0, 0, 0);*/
    border-radius: 100%;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.25),rgba(255, 165, 0, 0.25),rgba(255, 255, 0, 0.25),rgba(0, 128, 0, 0.25),rgba(0, 0, 255, 0.25),rgba(75, 0, 130, 0.25),rgba(238, 130, 238, 0.25),rgba(75, 0, 130, 0.25),rgba(0, 0, 255, 0.25),rgba(0, 128, 0, 0.25),rgba(255, 255, 0, 0.25),rgba(255, 165, 0, 0.25),rgba(255, 0, 0, 0.25));
    transition: all 1s ease-in-out;
}

a{
    transition: all 1s ease-in-out;
}

a:hover{
    box-shadow: 0px 0px 20px gray;
    transition: all 1s ease-in-out;
}

.carousel img{
    border-radius: 5px;
}

header{
    text-align:center;
}

.about{
    
}

#about1{
    margin: 0px 50px 0px 50px;
    padding: 10px;
    text-align:left;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 20px gray;
}

.workDesc{
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 20px gray;
}

.logo{
    display: inline-block;
}

.logoImg{
    display: inline-block;
}

h3{
    text-align:center;
    /*width: 100%;*/
}

.wrapper{
    display:inline-block;
    text-align:center;
    min-height:100%;
    width: 100%;
    min-width:100%;
    position:relative;
}

.bodyContainer{
    display:inline-block;
    /*padding: 1%;
    margin: 5px;*/
    /*border: solid 1px;*/
    margin-bottom:40px;
    position:relative;
    min-height: 100%;
    /*width: 100%;*/
}

#home1{
    display:block;
    /*border: solid 1px;*/
    /*max-height: 300px;*/
    /*margin: 5px;
    /*width:100%;*/
}

#home1 img{
    image-resolution:snap;
}

.home:hover{
    transform: skewX(-20deg);
}

#home2{
    display: inline-block;
    /*border: solid 1px;*/
    max-height: 50%;
    margin: 0%; 
    padding: 5px;
    max-width: 30%;
    min-width: 30%;
    text-wrap: normal;
    /*text-align:left;*/
    vertical-align:top;
    margin-top:1%;
    margin-bottom:1%;
}

#home3{
    display: inline-block;
    /*border: solid 1px;*/
    max-height: 50%;
    margin: 1%;
    padding: 5px;
    max-width: 30%;
    min-width: 30%;
    text-wrap: normal;
    /*text-align:left;*/
    vertical-align:top;
}

#home4{
    display: inline-block;
    /*border: solid 1px;*/
    max-height: 50%;
    margin: 0%;
    padding: 5px;
    max-width:30%;
    min-width: 30%;
    text-wrap: normal;
    /*text-align:center;*/
    vertical-align:top;
    margin-top:1%;
    margin-bottom:1%;
}

.blankLink{
    color:black;
    text-decoration:none;
}

.contact{
    display: inline-block;
    margin: 5px;
    width: 45%;
}

img{
    max-height: 100%;
    max-width: 100%;
    box-shadow: 0px 0px 20px gray;
    transition: all 1s ease-in-out;
}

img:hover{
    box-shadow: 0px 0px 50px gray;
    transition: all 1s ease-in-out;
}

footer{
    display: block;
    /*border: solid 1px;*/
    bottom:2px;
    left: 5px;
    right: 5px;
    margin: 5px;
    text-align:end;
    height: 30px;
    padding: 5px;
    position:static;
    vertical-align:bottom;
}

.footLeft{
    display:inline-block;
    padding: 5px;
    float:left;
}

.footRight{
    display:inline-block;
    padding: 5px;
    float:right;
}

.footNav{
    padding: 5px;
}

.headNav a{
    transition: all 1s ease-in-out;
    padding: 10px;
}

.headNav a:hover{
    padding: 10px;
    border-radius: 100%;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.25),rgba(255, 165, 0, 0.25),rgba(255, 255, 0, 0.25),rgba(0, 128, 0, 0.25),rgba(0, 0, 255, 0.25),rgba(75, 0, 130, 0.25),rgba(238, 130, 238, 0.25),rgba(75, 0, 130, 0.25),rgba(0, 0, 255, 0.25),rgba(0, 128, 0, 0.25),rgba(255, 255, 0, 0.25),rgba(255, 165, 0, 0.25),rgba(255, 0, 0, 0.25));
    transition: all 1s ease-in-out;
}

.footNav a{
    transition: all 1s ease-in-out;
    padding: 10px;
}

.footNav a:hover{
    padding: 10px;
    border-radius: 100%;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.25),rgba(255, 165, 0, 0.25),rgba(255, 255, 0, 0.25),rgba(0, 128, 0, 0.25),rgba(0, 0, 255, 0.25),rgba(75, 0, 130, 0.25),rgba(238, 130, 238, 0.25),rgba(75, 0, 130, 0.25),rgba(0, 0, 255, 0.25),rgba(0, 128, 0, 0.25),rgba(255, 255, 0, 0.25),rgba(255, 165, 0, 0.25),rgba(255, 0, 0, 0.25));
    transition: all 1s ease-in-out;
}

.headNav{
    display:inline-block;
    /*border:solid 1px;*/
    padding: 5px;
    text-align:center;
    transition: all 1s ease-in-out;
}

.work{
    padidng: 5px;
    margin: 5px;
    display: inline-block;
    width: 48%;
}

input{
    border-radius:5px;
    box-shadow: 0px 0px 20px gray;
    transition: all 1s ease-in-out;
}

input:focus{
    box-shadow: 0px 0px 50px black;
    transition: all 1s ease-in-out;
}

input::content{
    text-align:center;
}

textarea{
    border-radius:5px;
    width: 100%;
    box-shadow: 0px 0px 20px gray;
    transition: all 1s ease-in-out;
}

textarea:focus{
    box-shadow: 0px 0px 50px black;
    transition: all 1s ease-in-out;
}

.comment{
    width: 351px;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Tab Styles START */
.hide{
    display:none;
}

.active{
    display:inline-block;
}

.tabSelection li{
    display: inline-block;
    cursor:pointer;
}
/* Tab Styles END */

/* Carousel Styles START */
.carousel-next{
    display:inline-block;
    /*border:solid black 1px;*/
    font-size:x-large;
    color:black;
    cursor:pointer;
    text-align:center;
}

.carousel-prev{
    display:inline-block;
    /*border:solid black 1px;*/
    font-size:x-large;
    color:black;
    cursor:pointer;
    text-align:center;
}

.carousel-content{
    display: inline-block;
    /*border:solid black 1px;*/
    text-align:center;
}

.carousel-wrapper{
    display:inline-block;
    align-items:center;
    text-align:center;
    align-self: center;
    align-content: center;
}

.carousel-wrapper h3{
    display:inline-block;
    font-size:x-large;
}

.carousel{
    text-align:center;
}
/* Carousel Styles END */
