@{
    ViewBag.Title = "Home";
    ViewBag.Head = "Home";
}

<div id="home1">
    <img src="http://tinyurl.com/lf-suhbg" />
</div>

<div id="home2">
    <h3>About me</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ipsum ipsum, volutpat luctus magna et, bibendum vestibulum justo. Cras malesuada varius diam eu vestibulum. Maecenas eget enim non eros vulputate finibus. Integer ac feugiat lorem, imperdiet consectetur eros. Donec id vestibulum eros. Etiam consequat arcu eget ipsum facilisis, et blandit arcu laoreet. Curabitur a nisi in sapien posuere aliquam aliquam et quam. Ut a sapien eget velit iaculis tincidunt. Nunc purus justo, lobortis ut ex vitae, fringilla vulputate magna. Quisque et est convallis, auctor dolor quis, malesuada tellus. Mauris at dolor nec nisl consequat posuere ac eget massa. Nulla in massa eget est feugiat placerat. Nulla feugiat erat aliquet elit volutpat, quis luctus nisl congue.

Aliquam vel interdum quam. Etiam vitae semper nisi. Fusce quis viverra turpis. Vestibulum quis aliquet urna, tempor venenatis enim. Phasellus congue ex arcu, quis dapibus mauris cursus eu. Morbi ac tellus in massa tempus maximus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis pellentesque, lacus non pellentesque elementum, ipsum quam mollis justo, sed gravida nibh diam vel ex. Nulla convallis risus in nulla gravida, nec lobortis nisi commodo. Duis consequat lobortis ipsum vel viverra.
    </p>
</div>

<div id="home3">
    <h3>Work</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ipsum ipsum, volutpat luctus magna et, bibendum vestibulum justo. Cras malesuada varius diam eu vestibulum. Maecenas eget enim non eros vulputate finibus. Integer ac feugiat lorem, imperdiet consectetur eros. Donec id vestibulum eros. Etiam consequat arcu eget ipsum facilisis, et blandit arcu laoreet. Curabitur a nisi in sapien posuere aliquam aliquam et quam. Ut a sapien eget velit iaculis tincidunt. Nunc purus justo, lobortis ut ex vitae, fringilla vulputate magna. Quisque et est convallis, auctor dolor quis, malesuada tellus. Mauris at dolor nec nisl consequat posuere ac eget massa. Nulla in massa eget est feugiat placerat. Nulla feugiat erat aliquet elit volutpat, quis luctus nisl congue.

Aliquam vel interdum quam. Etiam vitae semper nisi. Fusce quis viverra turpis. Vestibulum quis aliquet urna, tempor venenatis enim. Phasellus congue ex arcu, quis dapibus mauris cursus eu. Morbi ac tellus in massa tempus maximus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis pellentesque, lacus non pellentesque elementum, ipsum quam mollis justo, sed gravida nibh diam vel ex. Nulla convallis risus in nulla gravida, nec lobortis nisi commodo. Duis consequat lobortis ipsum vel viverra.
    </p>
</div>

<div id="home4">
    <h3>Contact</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ipsum ipsum, volutpat luctus magna et, bibendum vestibulum justo. Cras malesuada varius diam eu vestibulum. Maecenas eget enim non eros vulputate finibus. Integer ac feugiat lorem, imperdiet consectetur eros. Donec id vestibulum eros. Etiam consequat arcu eget ipsum facilisis, et blandit arcu laoreet. Curabitur a nisi in sapien posuere aliquam aliquam et quam. Ut a sapien eget velit iaculis tincidunt. Nunc purus justo, lobortis ut ex vitae, fringilla vulputate magna. Quisque et est convallis, auctor dolor quis, malesuada tellus. Mauris at dolor nec nisl consequat posuere ac eget massa. Nulla in massa eget est feugiat placerat. Nulla feugiat erat aliquet elit volutpat, quis luctus nisl congue.

Aliquam vel interdum quam. Etiam vitae semper nisi. Fusce quis viverra turpis. Vestibulum quis aliquet urna, tempor venenatis enim. Phasellus congue ex arcu, quis dapibus mauris cursus eu. Morbi ac tellus in massa tempus maximus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis pellentesque, lacus non pellentesque elementum, ipsum quam mollis justo, sed gravida nibh diam vel ex. Nulla convallis risus in nulla gravida, nec lobortis nisi commodo. Duis consequat lobortis ipsum vel viverra.
    </p>
</div>