@{
    ViewBag.Title = "Home";
    ViewBag.Head = "Home";
}

<div id="home1">
    <img src="~/Content/Images/HomeImg2.jpg" />
</div>

<a href="~/About/Index" class="blankLink home" id="home2">
    <h3>About me</h3>
    <p>
        Click here to learn about me.
    </p>
</a>

<a href="~/Work/Index" class="blankLink home" id="home3">
    <h3>Work</h3>
    <p>
        Click here for examples of my work.
    </p>
</a>

<a href="~/Contact/Index" class="blankLink home" id="home4">
    <h3>Contact</h3>
    <p>
        Click here to contact me.
    </p>
</a>