@{
    ViewBag.Title = "Battle Ship";
    ViewBag.Head = "Battle Ship";
}


<div class="carousel-wrapper">
    <a href="https://github.com/CianButterfield/Battleship/blob/master/Battleship/Battleship/bin/Debug/Battleship.exe?raw=true" class="blankLink">
        <div class="carousel-content">
            <div class="carousel active">
                <img src="~/Content/Images/BattleShip1.jpg" />
            </div>

            <div class="carousel hide">
                <img src="~/Content/Images/BattleShip2.jpg" />
            </div>

            <div class="carousel hide">
                <img src="~/Content/Images/BattleShip3.jpg" />
            </div>
        </div>
    </a>

    <br />

    <div class="carousel-prev">
        ◄
    </div>
    &nbsp;
    <h3>Battle Ship</h3>
    &nbsp;
    <div class="carousel-next">
        ►
    </div>
</div>

<div>
    <p>
        This is my version of the clasic game Battle Ship. Click the picture above to download and play.
    </p>
</div>