@{
    ViewBag.Title = "Dragon Slayer";
    ViewBag.Head = "Work";
}


<div class="carousel-wrapper">
    <a href="https://github.com/CianButterfield/DragonCombatSimulator/blob/master/DragonCombatSimulator/DragonCombatSimulator/bin/Debug/DragonCombatSimulator.exe?raw=true" class="blankLink">
        <div class="carousel-content">
            <div class="carousel active">
                <img src="~/Content/Images/DragonSlayer1.jpg" />
            </div>

            <div class="carousel hide">
                <img src="~/Content/Images/DragonSlayer1.jpg" />
            </div>

            <div class="carousel hide">
                <img src="~/Content/Images/DragonSlayer1.jpg" />
            </div>
        </div>
    </a>

    <br />

    <div class="carousel-prev">
        ◄
    </div>
    &nbsp;
    <h3>Dragon Slayer</h3>
    &nbsp;
    <div class="carousel-next">
        ►
    </div>
</div>

<div class="workDesc">
    <p>
        In this game you must fight a dragon. You have a selection of actions to chose from each turn. Click the picture above to download and play. <br />WARNING: Game may crash upon winning due to an unresolved data base issue that is being worked on.
    </p>
</div>
