@{
    ViewBag.Title = "Guess That Number";
    ViewBag.Head = "Guess Thant Number";
}

<div class="carousel-wrapper">
    <a href="https://github.com/CianButterfield/GuessThatNumber/blob/master/GuessThatNumber/GuessThatNumber/bin/Debug/GuessThatNumber.exe?raw=true" class="blankLink">
        <div class="carousel-content">
            <div class="carousel active">
                <img src="~/Content/Images/GuessThatNumber1.jpg" />
            </div>

            <div class="carousel hide">
                <img src="~/Content/Images/GuessThatNumber1.jpg" />
            </div>

            <div class="carousel hide">
                <img src="~/Content/Images/GuessThatNumber1.jpg" />
            </div>
        </div>
    </a>

    <br />

    <div class="carousel-prev">
        ◄
    </div>
    &nbsp;
        <h3>Guess That Number</h3>
    &nbsp;
        <div class="carousel-next">
            ►
        </div>
</div>

<div class="workDesc">
    <p>
        In this game you'er attempting to guess a number between one an one hundred. Click the picture above to download and play. <br />WARNING: Game may crash upon winning due to an unresolved data base issue that is being worked on.
    </p>
</div>