@{
    ViewBag.Title = "Hangman";
    ViewBag.Head = "Hangman";
}


<div class="carousel-wrapper">
    <a href="https://github.com/CianButterfield/HangMan/blob/master/HangMan/HangMan/bin/Debug/HangMan.exe?raw=true" class="blankLink">
        <div class="carousel-content">
            <div class="carousel active">
                <img src="~/Content/Images/Hangman1.jpg" />
            </div>

            <div class="carousel hide">
                <img src="~/Content/Images/Hangman2.jpg" />
            </div>

            <div class="carousel hide">
                <img src="~/Content/Images/Hangman3.jpg" />
            </div>
        </div>
    </a>

    <br />

    <div class="carousel-prev">
        ◄
    </div>
    &nbsp;
    <h3>Hangman</h3>
    &nbsp;
    <div class="carousel-next">
        ►
    </div>
</div>

<div>
    <p>
        It's hangman, you guess letters to try and find a word. Click the picture above to download and play.
    </p>
</div>