@{
    ViewBag.Title = "Work";
    ViewBag.Head = "Work";
}

<div>
    <div class="work">
        <img src="http://tinyurl.com/qeemlqf" />
        <h3>Work Sample 1</h3>
    </div>

    <div class="work">
        <img src="http://tinyurl.com/qeemlqf" />
        <h3>Work Sample 1</h3>
    </div>

    <div class="work">
        <img src="http://tinyurl.com/qeemlqf" />
        <h3>Work Sample 1</h3>
    </div>

    <div class="work">
        <img src="http://tinyurl.com/qeemlqf" />
        <h3>Work Sample 1</h3>
    </div>
</div>
