@{
    ViewBag.Title = "Work";
    ViewBag.Head = "Work";
}

<div>
    <div class="work">
        <div class="carousel-wrapper">
            <a href="~/Work/DragonSlayer" class="blankLink">
                <div class="carousel-content">
                    <div class="carousel active">
                        <img src="~/Content/Images/DragonSlayer1.jpg" />
                    </div>

                    <div class="carousel hide">
                        <img src="~/Content/Images/DragonSlayer2.jpg" />
                    </div>

                    <div class="carousel hide">
                        <img src="~/Content/Images/DragonSlayer3.jpg" />
                    </div>
                </div>
            </a>

            <br />

            <div class="carousel-prev">
                ◄
            </div>
            &nbsp;
        <h3>Dragon Slayer</h3>
            &nbsp;
        <div class="carousel-next">
            ►
        </div>
        </div>
    </div>


    <div class="work">
        <div class="carousel-wrapper">
            <a href="~/Work/Hangman" class="blankLink">
                <div class="carousel-content">
                    <div class="carousel active">
                        <img src="~/Content/Images/Hangman1.jpg" />
                    </div>

                    <div class="carousel hide">
                        <img src="~/Content/Images/Hangman2.jpg" />
                    </div>

                    <div class="carousel hide">
                        <img src="~/Content/Images/Hangman3.jpg" />
                    </div>
                </div>
            </a>

            <br />

            <div class="carousel-prev">
                ◄
            </div>
            &nbsp;
        <h3>Hangman</h3>
            &nbsp;
        <div class="carousel-next">
            ►
        </div>
        </div>
    </div>

    <div class="work">
        <div class="carousel-wrapper">
            <a href="~/Work/Battleship" class="blankLink">
                <div class="carousel-content">
                    <div class="carousel active">
                        <img src="~/Content/Images/BattleShip1.jpg" />
                    </div>

                    <div class="carousel hide">
                        <img src="~/Content/Images/BattleShip2.jpg" />
                    </div>

                    <div class="carousel hide">
                        <img src="~/Content/Images/BattleShip3.jpg" />
                    </div>
                </div>
            </a>

            <br />

            <div class="carousel-prev">
                ◄
            </div>
            &nbsp;
        <h3>Battle Ship</h3>
            &nbsp;
        <div class="carousel-next">
            ►
        </div>
        </div>
    </div>

    <div class="work">
        <div class="carousel-wrapper">
            <a href="~/Work/GuessThatNumber" class="blankLink">
                <div class="carousel-content">
                    <div class="carousel active">
                        <img src="~/Content/Images/GuessThatNumber1.jpg" />
                    </div>

                    <div class="carousel hide">
                        <img src="~/Content/Images/GuessThatNumber2.jpg" />
                    </div>

                    <div class="carousel hide">
                        <img src="~/Content/Images/GuessThatNumber3.jpg" />
                    </div>
                </div>
            </a>

            <br />

            <div class="carousel-prev">
                ◄
            </div>
            &nbsp;
        <h3>Guess That Number</h3>
            &nbsp;
        <div class="carousel-next">
            ►
        </div>
        </div>
    </div>
</div>


